<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color: #2ca8ff">
	<!-- header -->
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="http://127.0.0.1:8001/">country</a></li>
								<li><a href="http://127.0.0.1:8001/login/">login</a></li>
                                <li><a href="http://127.0.0.1:8001/signup/">signup</a></li>
							</ul>
                        </nav>
                        {% block content %}
                        {% endblock %}
                    </div>
				</nav>
            </div>
</body>
</html>
