<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="http://127.0.0.1:8001/">country</a></li>
								<li><a href="http://127.0.0.1:8001/my_logout/">logout</a></li>
{#                                <li><a href="http://127.0.0.1:8001/signup/">signup</a></li>#}
							</ul>
                        </nav>

            <form action="" METHOD="get">
                {% csrf_token %}
                <select
                        aria-describedby="searchDropdownDescription"
                        class="nav-search-dropdown searchSelect"
                        data-nav-digest="R0Y6PpUvJhgOTk4cZYLpBnPuc6o="
                        data-nav-selected="0"
                        id="searchDropdownBox"
                        name="pcat"
                        style="display: block;"
                        tabindex="8"
                        title="Search in>
                <option selected="selected" value="search-alias=aps">All Categories</option>
                <option value="Appliances">Appliances</option>
                <option value="Apps & Games">Apps & Games</option>
                <option value="Bags">Bags</option>
                <option value="Beauty">Beauty</option>
                <option value="Electronics">Electronics</option>
                <option value="mobiles">mobiles</option>
                <option value="shoes">Shoes</option>
                </select>
                                <input type="text" name="pname" placeholder="enter product name">
                                <input type="submit" value="Search">
            </form>
        </div>
        </div>
 </div>



</body>
</html>